*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: green;
    padding: 20px;
}
nav{
    background: lime;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type:none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.2s ease-in;
}
nav ul a:hover{
    background: green;
    color: white;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap:30px ;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    transform: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
}















@media(max-width:1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media(max-width:768px){
        .items{
            grid-template-columns: repeat(1, 1fr);
        }
    }

